/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }
body { font-family: 'Poppins', sans-serif !important; }

/* Custom Styles Starts Here */
.app__container {
  max-width: 980px;
  margin: 0 auto;
}

/* Media Query for Ipad PRO view */
@media( max-width:1024px ) {
  .app__container {
    max-width: 900px;
  }
}

/* Media Query for Ipad view */
@media( max-width:768px ) {
  .app__container {
    max-width: 650px;
  }
}

/* Media Query for Mobile Phones */
@media( max-width:500px ) {
  .app__container {
    max-width: 300px;
  }
}
